<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.MemberMapper">

	<!-- 인터페이스에서 mapper로 넘어올 수 있는 조건
		namespace가 interface 이름과 동일 하던가
		xml파일과 interface이름이 동일하면 자동으로 맞춰줌
	 -->
	 
	<!-- 회원가입 -->
	<insert id="memberInsert" parameterType="kr.smhrd.entity.Member">
		insert into members (mb_id, mb_pw, mb_name, mb_nick, mb_birthdate, mb_gender, mb_phone, mb_img) values (#{mb_id}, #{mb_pw}, #{mb_name}, #{mb_nick}, #{mb_birthdate}, #{mb_gender}, #{mb_phone}, #{mb_img})
	</insert> 
	
	<insert id="surveyInsert" parameterType="kr.smhrd.entity.Survey">
		insert into surveys (q1,q2,q3,q4,q5) values(#{q1},#{q2},#{q3},#{q4},#{q5})
	</insert>
	
	<!-- 로그인 -->
	<select id="memberSelect" parameterType="kr.smhrd.entity.Member" resultType="kr.smhrd.entity.Member">
		select * from members where mb_id=#{mb_id} and mb_pw=#{mb_pw}
	</select>
	
	
	
	
	<!-- <update id="updateMember" parameterType="kr.smhrd.entity.Member">
		UPDATE MEMBER SET PW=#{pw} , TEL=#{tel}, ADDRESS=#{address} where EMAIL=#{email}
	</update>
	
	<select id="showMember" resultType="kr.smhrd.entity.Member">
		SELECT * FROM MEMBER WHERE NOT(EMAIL ='admin')
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM MEMBER WHERE EMAIL=#{email}
	</delete> -->
	
</mapper>