<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.MemberMapper">

   <!-- 회원가입 -->
   <insert id="memberInsert" parameterType="kr.smhrd.entity.Member">
      insert into members (mb_id, mb_pw, mb_name, mb_nick, mb_birthdate, mb_gender, mb_phone, mb_img) values (#{mb_id}, MD5(#{mb_pw}), #{mb_name}, #{mb_nick}, #{mb_birthdate}, #{mb_gender}, #{mb_phone}, #{mb_img})
   </insert> 
   
   <!-- 설문조사 -->
   <insert id="surveyInsert" parameterType="kr.smhrd.entity.Survey">
      insert into surveys (mb_id,q1,q2,q3,q4,q5) values(#{mb_id},#{q1},#{q2},#{q3},#{q4},#{q5})
   </insert>
   
   <!-- 로그인 -->
   <select id="memberSelect" parameterType="kr.smhrd.entity.Member" resultType="kr.smhrd.entity.Member">
      select * from members where mb_id=#{mb_id} and mb_pw=MD5(#{mb_pw})
   </select>
   
   <!-- 회원 정보 변경 -->
   <update id="updateUserinfo" parameterType="kr.smhrd.entity.Member">
      update members set mb_pw=#{mb_pw} , mb_nick=#{mb_nick}, mb_phone=#{mb_phone} where mb_id=#{mb_id}
   </update>
   
   <!-- 회원 프로필 변경 -->
   <update id="updateUserPro" parameterType="kr.smhrd.entity.Member">
      update members set mb_proimg=#{mb_proimg} , mb_comment=#{mb_comment}, mb_mbti=#{mb_mbti} where mb_id=#{mb_id}
   </update>
   
   <!-- 회원 프로필 조회 -->
   <select id="findPro" parameterType="String" resultType="kr.smhrd.entity.Member">
      select * from members where mb_id=#{mb_id}
   </select>
   
   <!-- 추천 회원 조회 -->
   <select id="getrecommendMem" parameterType="String" resultType="String">
      SELECT DISTINCT s2.mb_id
      FROM members m
      JOIN surveys s1 ON m.mb_id = s1.mb_id
      JOIN surveys s2 ON s1.result_label = s2.result_label
      WHERE m.mb_id = #{mb_id} AND s2.mb_id != #{mb_id}
   </select>
 
</mapper>