body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --body-regular: "Nunito Sans";
  --font-montserrat: Montserrat;
  --font-source-code-pro: "Source Code Pro";
  --font-nunito: Nunito;
  --text-sm-bold: Lato;
  --small-regular: Poppins;
  --font-jost: Jost;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-14xl: 33px;
  --body-regular-size: 14px;
  --font-size-lg: 18px;
  --font-size-23xl: 42px;
  --display-xs-bold-size: 24px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-mid: 17px;
  --text-xs-regular-size: 12px;
  --font-size-smi: 13px;
  --text-md-bold-size: 16px;
  --font-size-16xl: 35px;
  --font-size-12xl: 31px;
  --font-size-6xl-8: 25.8px;
  --font-size-17xl-2: 36.2px;
  --font-size-41xl: 60px;
  --font-size-2xl: 21px;
  --font-size-base-7: 15.7px;
  --font-size-mini-5: 14.5px;

  /* Colors */
  --white: #fff;
  --color-black: #000;
  --base-content-negative: #fafafa;
  --gray-500: #8a8a8a;
  --color-gray-100: #898989;
  --color-gray-200: #7a7a7a;
  --color-gray-300: #222;
  --neutral-black: #09101d;
  --neutral-surface-bgcontainer: rgba(255, 255, 255, 0.1);
  --color-gray-400: rgba(0, 0, 0, 0.76);
  --color-dodgerblue-100: #3685fb;
  --map-primary-surface-default: #3b82f6;
  --color-dimgray-100: #666;
  --color-dimgray-200: #586870;
  --gray-7001: #515151;
  --gray-700: #505050;
  --base-content-body: #404040;
  --grey-dark: #3d3e3c;
  --color-darkslategray-100: #3c3c43;
  --color-darkslategray-200: #353535;
  --color-darkslategray-300: #353434;
  --color-darkslategray-400: rgba(52, 72, 94, 0.54);
  --color-aliceblue-100: #f1f5f9;
  --color-aliceblue-200: #d1eeff;
  --color-lightskyblue: #60cdff;
  --color-darkgray-100: #a8a9ab;
  --color-slategray-100: #6b7897;
  --colors-gray-500: #64748b;
  --neutral-border-disabled: #d4d4d4;
  --colors-gray-300: #cbd5e1;
  --gray-300: #d0d0d0;
  --color-crimson-100: #ef4444;
  --color-crimson-200: #cf2d37;
  --color-lavender-100: #d9ebfb;
  --color-lavender-200: #d7e7ff;
  --color-skyblue: #87c0e2;
  --color-gainsboro-100: #e1e4e7;
  --gray-200: #e2e2e2;
  --color-gainsboro-200: #d9d9d9;
  --grey-light: #c1c6c9;
  --color-lightslategray-100: #8e99a1;
  --color-lightslategray-200: #8c96ab;
  --color-tomato: #ff6260;
  --color-whitesmoke: #f2f3f3;
  --color-lightsteelblue: #a2abbf;
  --color-ghostwhite: #f7f8fc;
  --primary-600-default: #42a7c3;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-54xl: 73px;
  --gap-9xs: 4px;
  --gap-18xl: 37px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-7xs-2: 5.2px;
  --gap-6xl-8: 25.8px;
  --gap-xl-7: 20.7px;

  /* Paddings */
  --padding-29xl: 48px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-xl-7: 20.7px;
  --padding-32xl-7: 51.7px;
  --padding-5xs-8: 7.8px;
  --padding-22xl-3: 41.3px;
  --padding-7xs-2: 5.2px;
  --padding-22xl: 41px;
  --padding-7xs: 6px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-xl: 20px;
  --br-6xs: 7px;
  --br-31xl: 50px;
  --br-81xl: 100px;
  --br-xl-7: 20.7px;
  --br-11xl: 30px;
  --br-16xl: 35px;
  --br-7xs: 6px;
  --br-11xs: 2px;
  --br-xs-3: 11.3px;

  /* Effects */
  --double-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
}
