.users-icon1 {
  position: relative;
  width: 26px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.div313 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.m-btn1,
.r-btn1 {
  position: absolute;
  top: 475px;
  left: 801px;
  border-radius: var(--br-31xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 87px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.r-btn1 {
  left: 916px;
}
.map-child,
.map-item {
  position: absolute;
  top: 128px;
  left: -1px;
  width: 1920px;
  height: 277px;
  object-fit: cover;
}
.map-item {
  top: 628px;
  left: 303px;
  width: 1316px;
  height: 1157px;
  overflow: hidden;
}
.map-inner {
  position: absolute;
  top: 1534px;
  left: 1694px;
  width: 141px;
  height: 142px;
}
.map-pin-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-pin-container,
.map-pin-group,
.map-pin-parent,
.map-pin-parent1 {
  position: absolute;
  top: 550px;
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 82px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.map-pin-parent {
  left: 295px;
  background-color: #fbe159;
}
.map-pin-container,
.map-pin-group,
.map-pin-parent1 {
  left: 439px;
  background-color: var(--white);
}
.map-pin-container,
.map-pin-parent1 {
  left: 583px;
}
.map-pin-parent1 {
  left: 727px;
  width: 81px;
}
.menu-icon24,
.vector-icon24 {
  position: absolute;
  overflow: hidden;
}
.vector-icon24 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon24 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon13,
.logo15,
.with-us22 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us22 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon13,
.logo15 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon13 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent10,
.logo12312 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo12312 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div319,
.div320,
.navlogo12 {
  position: relative;
  flex-shrink: 0;
}
.navlogo12 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div319,
.div320 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div320 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon25 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div321 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent37 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div322 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon12 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent38 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent14 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div323 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div324,
.name12 {
  position: absolute;
  left: 0;
}
.name12 {
  top: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div324 {
  top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.logout12 {
  position: absolute;
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent10 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account12 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.account12,
.actions12,
.ch-btn1,
.nav12,
.navactions12 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions12 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.ch-btn1,
.nav12,
.navactions12 {
  justify-content: center;
}
.navactions12 {
  flex: 1;
  height: 48px;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.ch-btn1,
.nav12 {
  position: absolute;
}
.nav12 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.ch-btn1 {
  top: 476px;
  left: 1031px;
  border-radius: var(--br-31xl);
  background-color: var(--color-skyblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 112px;
  height: 43px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.map {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1785px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .menu-icon24 {
    display: flex;
  }
  .menu-icon25 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon24 {
    display: flex;
  }
  .menu-icon25 {
    display: none;
  }
  .group-parent14 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon24,
  .menu-icon25 {
    display: flex;
    width: 200px;
  }
  .actions12 {
    display: none;
  }
}
.mask-group-icon {
  position: absolute;
  top: 89px;
  left: 37px;
  width: 154px;
  height: 229px;
}
.div192,
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  position: absolute;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.div192 {
  top: 23px;
  left: 177px;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-300);
}
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  left: 201px;
  display: inline-block;
  height: 17px;
}
.div193 {
  top: 181px;
  color: var(--color-darkslategray-300);
  width: 83px;
}
.div194,
.div195,
.djgdk1516gmailcom {
  top: 209px;
  width: 48px;
}
.div195,
.djgdk1516gmailcom {
  top: 155px;
}
.djgdk1516gmailcom {
  top: 232px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div196 {
  top: 104px;
  width: 48px;
}
.div196,
.div197,
.mbti,
.tbti {
  position: absolute;
  left: 201px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  height: 17px;
}
.div197 {
  top: 127px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.mbti,
.tbti {
  top: 260px;
  width: 48px;
}
.tbti {
  top: 283px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div198,
.div199 {
  position: absolute;
  top: 337px;
  left: 105px;
  font-size: var(--font-size-2xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div199 {
  left: 256px;
}
.btn2 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
  width: 120px;
  height: 41px;
}
.btn2,
.e-btn,
.edit8 {
  position: absolute;
}
.edit8 {
  top: 11px;
  left: 26px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 76px;
  height: 18px;
}
.e-btn {
  top: 383px;
  left: 171px;
  width: 120px;
  height: 41px;
  text-align: center;
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.p-img-icon {
  position: absolute;
  top: 95px;
  left: 21px;
  border-radius: var(--br-16xl);
  width: 167px;
  height: 228px;
  overflow: hidden;
  object-fit: cover;
}
.m-p-con {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 461px;
  height: 454px;
  overflow: hidden;
  flex-shrink: 0;
}
.myprofil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
  font-family: var(--font-montserrat);
}
