.mojibwr-child {
  position: absolute;
  top: 128px;
  left: 0;
  width: 1920px;
  height: 277px;
  object-fit: cover;
}
.span {
  color: var(--color-crimson-100);
}
.title10 {
  position: absolute;
  top: 28px;
  left: 24px;
  line-height: 20px;
}
.welcome-to-digital20 {
  position: relative;
  line-height: 20px;
}
.iconoutlineclock10,
.iconresizechevron-down10 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconresizechevron-down10 {
  width: 10px;
  height: 6px;
  display: none;
}
.iconoutlineclock10 {
  width: 16px;
  height: 16px;
}
.input-itemsinput-box10,
.input-itemsselector-box10 {
  position: absolute;
  top: 20px;
  left: 288px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--colors-gray-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.input-itemsselector-box10 {
  width: 300px;
  display: none;
  justify-content: space-between;
}
.input-itemsinput-box10 {
  width: calc(100% - 320px);
  right: 32px;
  display: flex;
  justify-content: flex-start;
}
.indexpageeditorinput-items10 {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  height: 76px;
}
.iconoutlineclock11,
.iconresizechevron-down11 {
  position: relative;
  width: 10px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlineclock11 {
  width: 16px;
  height: 16px;
  display: none;
}
.input-itemsinput-box11,
.input-itemsselector-box11 {
  position: absolute;
  top: 20px;
  left: 288px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--colors-gray-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.input-itemsselector-box11 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.input-itemsinput-box11 {
  width: calc(100% - 320px);
  right: 32px;
  display: none;
  justify-content: flex-start;
}
.indexpageeditorinput-items11 {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  border-top: 1px solid var(--color-aliceblue-100);
  box-sizing: border-box;
  height: 76px;
}
.welcome-to-digital28 {
  position: relative;
  line-height: 20px;
  display: none;
}
.balabala-this-is-a-link-to-som-frame,
.indexpageeditorinput-items14 {
  position: absolute;
  background-color: var(--white);
  box-sizing: border-box;
}
.indexpageeditorinput-items14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-aliceblue-100);
}
.balabala-this-is-a-link-to-som-frame {
  height: 76.78%;
  width: 71.01%;
  top: 3.84%;
  right: 2.9%;
  bottom: 19.39%;
  left: 26.09%;
  border-radius: var(--br-9xs);
  border: 1px solid var(--colors-gray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.component-62 {
  position: relative;
  width: 1104px;
  height: 521px;
}
.edit4 {
  position: absolute;
  width: calc(100% - 596px);
  top: 568px;
  right: 301px;
  left: 295px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--double-shadow);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fbutton-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
  width: 120px;
  height: 41px;
}
.edit5 {
  position: absolute;
  top: 12px;
  left: 36px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 47px;
  height: 18px;
}
.fbutton2 {
  position: absolute;
  top: 1553px;
  left: 900px;
  width: 120px;
  height: 41px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.div74 {
  top: 486px;
  left: 377px;
  font-size: var(--font-size-11xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div74,
.menu-icon6,
.vector-icon6 {
  position: absolute;
  overflow: hidden;
}
.vector-icon6 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon3,
.logo4,
.with-us11 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us11 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon3,
.logo4 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon3 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent1,
.logo1233 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo1233 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div75,
.div76,
.navlogo3 {
  position: relative;
  flex-shrink: 0;
}
.navlogo3 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div75,
.div76 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div76 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon7 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div77 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent8 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div78 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon3 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent9 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent5 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div79 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.name3 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div80,
.logout3,
.name3 {
  position: absolute;
}
.div80 {
  top: 10px;
  left: 0;
  line-height: 20px;
  font-weight: 600;
}
.logout3 {
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent1 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account3,
.actions3,
.navactions3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.account3 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.actions3,
.navactions3 {
  flex: 1;
}
.actions3 {
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.navactions3 {
  height: 48px;
  justify-content: center;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.mojibwr,
.nav3 {
  background-color: var(--white);
  width: 100%;
  text-align: left;
}
.nav3 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.mojibwr {
  position: relative;
  height: 1658px;
  overflow: hidden;
  font-size: var(--body-regular-size);
  color: var(--colors-gray-500);
  font-family: var(--body-regular);
}
@media screen and (max-width: 1200px) {
  .menu-icon6 {
    display: flex;
  }
  .menu-icon7 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon6 {
    display: flex;
  }
  .menu-icon7 {
    display: none;
  }
  .group-parent5 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon6,
  .menu-icon7 {
    display: flex;
    width: 200px;
  }
  .actions3 {
    display: none;
  }
}
