.mypage-child {
  position: absolute;
  top: 320px;
  left: 829px;
  border-radius: 50%;
  width: 244px;
  height: 206px;
  object-fit: cover;
}
.camera-02-icon {
  position: absolute;
  top: 460px;
  left: 998px;
  width: 73px;
  height: 76px;
  overflow: hidden;
}
.icn-left-icon4 {
  width: 62px;
  height: 62px;
  display: none;
}
.div208,
.div209,
.icn-left-icon4 {
  position: relative;
}
.div208 {
  display: none;
}
.div209 {
  font-size: var(--font-size-12xl);
  font-family: var(--small-regular);
  color: var(--color-black);
}
.left-icntext4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25.84px;
}
.lbs4 {
  position: relative;
  width: 43.9px;
  height: 51.7px;
  flex-shrink: 0;
}
.icn-right4,
.lbs4 {
  display: none;
}
.left-right-content4,
.right-support-text-icon4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-support-text-icon4 {
  justify-content: flex-end;
  gap: 25.84px;
  text-align: right;
  color: var(--grey-dark);
}
.left-right-content4 {
  flex: 1;
  justify-content: space-between;
}
.pencil-01-icon {
  position: relative;
  width: 54px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.inside-weight4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.168571472167969px 0;
  gap: 25.84px;
}
.set-border-color12,
.set-border-color13 {
  position: absolute;
  left: 683px;
  border-radius: 20.67px;
  background-color: var(--white);
  border: 1.3px solid var(--grey-light);
  width: 536px;
  flex-direction: column;
  padding: 7.752857208251953px 20.674285888671875px 7.752857208251953px
    41.34857177734375px;
  font-family: var(--font-jost);
}
.set-border-color12 {
  top: 612px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.set-border-color13 {
  top: 776px;
}
.inside-weight6,
.set-border-color13,
.set-border-color14 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inside-weight6 {
  align-self: stretch;
  height: 589px;
  flex-direction: row;
  padding: 5.168571472167969px 0;
  gap: 25.84px;
}
.set-border-color14 {
  position: absolute;
  top: 909px;
  left: 683px;
  border-radius: 20.67px;
  background-color: var(--white);
  border: 1.3px solid var(--grey-light);
  width: 536px;
  height: 597px;
  flex-direction: column;
  padding: 7.752857208251953px 20.674285888671875px 7.752857208251953px
    41.34857177734375px;
  font-family: var(--font-jost);
}
.sign-up2 {
  position: relative;
  font-weight: 600;
}
.btn3 {
  position: absolute;
  top: 1536px;
  left: 879px;
  border-radius: 20.67px;
  background: linear-gradient(
    180deg,
    rgba(110, 108, 224, 0.3),
    rgba(78, 75, 173, 0.3)
  );
  height: 87.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20.674285888671875px 51.68571472167969px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-12xl);
  color: var(--white);
}
.div214,
.div215,
.div216 {
  position: absolute;
  top: 700px;
  left: 683px;
  font-size: var(--font-size-xl);
  color: var(--color-crimson-200);
}
.div215,
.div216 {
  top: 156px;
  left: 377px;
  font-size: var(--font-size-41xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  width: 238px;
  height: 91px;
}
.div216 {
  left: 650px;
  color: var(--color-black);
  width: 409px;
}
.menu-icon14,
.vector-icon14 {
  position: absolute;
  overflow: hidden;
}
.vector-icon14 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon8,
.logo9,
.with-us16 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us16 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon8,
.logo9 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon8 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent5,
.logo1237 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo1237 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div217,
.div218,
.navlogo7 {
  position: relative;
  flex-shrink: 0;
}
.navlogo7 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div217,
.div218 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div218 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon15 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div219 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent27 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div220 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon7 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent28 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent9 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div221 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div222,
.name7 {
  position: absolute;
  left: 0;
}
.name7 {
  top: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div222 {
  top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.logout7 {
  position: absolute;
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent5 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account7 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.account7,
.actions7,
.nav7,
.navactions7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions7 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.nav7,
.navactions7 {
  justify-content: center;
}
.navactions7 {
  flex: 1;
  height: 48px;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.nav7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.mypage-item {
  position: absolute;
  top: 1394px;
  left: 1681px;
  width: 141px;
  height: 142px;
}
.mypage {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1650px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl-2);
  color: var(--color-dimgray-200);
  font-family: var(--small-regular);
}
@media screen and (max-width: 1200px) {
  .menu-icon14 {
    display: flex;
  }
  .menu-icon15 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon14 {
    display: flex;
  }
  .menu-icon15 {
    display: none;
  }
  .group-parent9 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon14,
  .menu-icon15 {
    display: flex;
    width: 200px;
  }
  .actions7 {
    display: none;
  }
}
.mask-group-icon {
  position: absolute;
  top: 89px;
  left: 37px;
  width: 154px;
  height: 229px;
}
.div192,
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  position: absolute;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.div192 {
  top: 23px;
  left: 177px;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-300);
}
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  left: 201px;
  display: inline-block;
  height: 17px;
}
.div193 {
  top: 181px;
  color: var(--color-darkslategray-300);
  width: 83px;
}
.div194,
.div195,
.djgdk1516gmailcom {
  top: 209px;
  width: 48px;
}
.div195,
.djgdk1516gmailcom {
  top: 155px;
}
.djgdk1516gmailcom {
  top: 232px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div196 {
  top: 104px;
  width: 48px;
}
.div196,
.div197,
.mbti,
.tbti {
  position: absolute;
  left: 201px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  height: 17px;
}
.div197 {
  top: 127px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.mbti,
.tbti {
  top: 260px;
  width: 48px;
}
.tbti {
  top: 283px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div198,
.div199 {
  position: absolute;
  top: 337px;
  left: 105px;
  font-size: var(--font-size-2xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div199 {
  left: 256px;
}
.btn2 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
  width: 120px;
  height: 41px;
}
.btn2,
.e-btn,
.edit8 {
  position: absolute;
}
.edit8 {
  top: 11px;
  left: 26px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 76px;
  height: 18px;
}
.e-btn {
  top: 383px;
  left: 171px;
  width: 120px;
  height: 41px;
  text-align: center;
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.p-img-icon {
  position: absolute;
  top: 95px;
  left: 21px;
  border-radius: var(--br-16xl);
  width: 167px;
  height: 228px;
  overflow: hidden;
  object-fit: cover;
}
.m-p-con {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 461px;
  height: 454px;
  overflow: hidden;
  flex-shrink: 0;
}
.myprofil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
  font-family: var(--font-montserrat);
}
