.div263,
.div264,
.div265,
.div266,
.djgdk1516gmailcom1 {
  position: absolute;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.div263 {
  top: 23px;
  left: 177px;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-300);
}
.div264,
.div265,
.div266,
.djgdk1516gmailcom1 {
  left: 201px;
  display: inline-block;
  height: 17px;
}
.div264 {
  top: 181px;
  color: var(--color-darkslategray-300);
  width: 83px;
}
.div265,
.div266,
.djgdk1516gmailcom1 {
  top: 209px;
  width: 48px;
}
.div266,
.djgdk1516gmailcom1 {
  top: 155px;
}
.djgdk1516gmailcom1 {
  top: 232px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div267 {
  position: absolute;
  top: 104px;
  width: 48px;
}
.div267,
.div268,
.mbti1 {
  left: 201px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  height: 17px;
}
.div268 {
  position: absolute;
  top: 127px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.mbti1 {
  top: 260px;
  width: 48px;
}
.edit9,
.mbti1,
.tbti1 {
  position: absolute;
}
.tbti1 {
  top: 283px;
  left: 201px;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 170px;
  height: 17px;
}
.edit9 {
  top: 11px;
  left: 26px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 76px;
  height: 18px;
}
.fbutton4 {
  position: absolute;
  top: 382px;
  left: 57px;
  width: 120px;
  height: 41px;
  text-align: center;
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.div269,
.div270 {
  position: absolute;
  top: 336px;
  left: 105px;
  font-size: var(--font-size-2xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div270 {
  left: 256px;
}
.fbutton1-child,
.fbutton11 {
  position: absolute;
  width: 120px;
  height: 41px;
}
.fbutton1-child {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
}
.fbutton11 {
  top: 381px;
  left: 256px;
  text-align: center;
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.p-img-icon1 {
  position: absolute;
  top: 87px;
  left: 21px;
  border-radius: var(--br-16xl);
  width: 167px;
  height: 228px;
  overflow: hidden;
  object-fit: cover;
}
.content18 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 461px;
  height: 454px;
  overflow: hidden;
  flex-shrink: 0;
}
.profil1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
  font-family: var(--font-montserrat);
}
