.reviewwr-child {
  position: absolute;
  top: 128px;
  left: 0;
  width: 1920px;
  height: 277px;
  object-fit: cover;
}
.span5 {
  color: var(--color-crimson-100);
}
.title15 {
  position: absolute;
  top: 28px;
  left: 24px;
  line-height: 20px;
}
.welcome-to-digital30 {
  position: relative;
  line-height: 20px;
}
.iconresizechevron-down15 {
  position: relative;
  width: 10px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.input-itemsinput-box15,
.input-itemsselector-box15 {
  position: absolute;
  top: 20px;
  left: 288px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--colors-gray-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.input-itemsselector-box15 {
  width: 300px;
  display: none;
  justify-content: space-between;
}
.input-itemsinput-box15 {
  width: calc(100% - 320px);
  right: 32px;
  display: flex;
  justify-content: flex-start;
}
.indexpageeditorinput-items15 {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  height: 76px;
}
.iconoutlineclock16,
.iconresizechevron-down16 {
  position: relative;
  width: 10px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlineclock16 {
  width: 16px;
  height: 16px;
  display: none;
}
.input-itemsinput-box16,
.input-itemsselector-box16 {
  position: absolute;
  top: 20px;
  left: 288px;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--colors-gray-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.input-itemsselector-box16 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.input-itemsinput-box16 {
  width: calc(100% - 320px);
  right: 32px;
  display: none;
  justify-content: flex-start;
}
.indexpageeditorinput-items16 {
  align-self: stretch;
  position: relative;
  background-color: var(--white);
  border-top: 1px solid var(--color-aliceblue-100);
  box-sizing: border-box;
  height: 76px;
}
.upload-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.welcome-to-digital38 {
  position: relative;
  line-height: 20px;
  display: none;
}
.indexpageeditorinput-items19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  border-top: 1px solid var(--color-aliceblue-100);
  box-sizing: border-box;
}
.balabala-this-is-a-link-to-som-wrapper1 {
  position: absolute;
  height: 76.78%;
  width: 71.01%;
  top: 3.84%;
  right: 2.9%;
  bottom: 19.39%;
  left: 26.09%;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--colors-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.component-63 {
  position: relative;
  width: 1104px;
  height: 521px;
}
.edit6 {
  position: absolute;
  width: calc(100% - 816px);
  top: 568px;
  right: 408px;
  left: 408px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--double-shadow);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fbutton-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
  width: 120px;
  height: 41px;
}
.edit7 {
  position: absolute;
  top: 12px;
  left: 36px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 47px;
  height: 18px;
}
.fbutton3 {
  position: absolute;
  top: 1530px;
  left: 900px;
  width: 120px;
  height: 41px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.div192 {
  top: 497px;
  left: 408px;
  font-size: var(--font-size-11xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div192,
.menu-icon10,
.vector-icon10 {
  position: absolute;
  overflow: hidden;
}
.vector-icon10 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon5,
.logo5,
.with-us5 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us5 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon5,
.logo5 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon5 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent3,
.logo1235 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo1235 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div193,
.div194,
.navlogo5 {
  position: relative;
  flex-shrink: 0;
}
.navlogo5 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div193,
.div194 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div194 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon11 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div195 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent34 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div196 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon5 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent35 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent6 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div197 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div198,
.name5 {
  position: absolute;
  left: 0;
}
.name5 {
  top: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div198 {
  top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.logout5 {
  position: absolute;
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent3 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account5,
.actions5,
.navactions5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.account5 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.actions5,
.navactions5 {
  flex: 1;
}
.actions5 {
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.navactions5 {
  height: 48px;
  justify-content: center;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.nav5,
.reviewwr {
  background-color: var(--white);
  width: 100%;
  text-align: left;
}
.nav5 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.reviewwr {
  position: relative;
  height: 1658px;
  overflow: hidden;
  font-size: var(--body-regular-size);
  color: var(--colors-gray-500);
  font-family: var(--body-regular);
}
@media screen and (max-width: 1200px) {
  .menu-icon10 {
    display: flex;
  }
  .menu-icon11 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon10 {
    display: flex;
  }
  .menu-icon11 {
    display: none;
  }
  .group-parent6 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon10,
  .menu-icon11 {
    display: flex;
    width: 200px;
  }
  .actions5 {
    display: none;
  }
}
