.edit-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div326 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.wr-btn2 {
  position: absolute;
  top: 611px;
  right: 298px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dodgerblue-100);
  width: 108px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-montserrat);
}
.review-child {
  position: absolute;
  top: 128px;
  left: 0;
  width: 1920px;
  height: 277px;
  object-fit: cover;
}
.image-icon11 {
  position: relative;
  width: 292px;
  height: 262px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div328 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  width: 244px;
}
.p16 {
  margin: 0;
}
.div329,
.with-us-container12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 244px;
}
.div329 {
  text-align: right;
}
.content14,
.div327 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content14 {
  background-color: var(--white);
  height: 227px;
  flex-shrink: 0;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.div327 {
  position: absolute;
  top: 690px;
  left: 298px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
}
.image-icon12 {
  position: relative;
  width: 292px;
  height: 263px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div331 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  width: 238px;
}
.txt {
  width: 100%;
}
.content15,
.div330,
.div334,
.div337,
.div341,
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content15 {
  background-color: var(--white);
  height: 228px;
  flex-shrink: 0;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.div330,
.div334,
.div337,
.div341,
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  position: absolute;
  top: 690px;
  left: 650px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
}
.div334,
.div337,
.div341,
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  top: 688px;
  left: 990px;
}
.div337,
.div341,
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  left: 1342px;
}
.div341,
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  top: 1273px;
  left: 296px;
}
.div344,
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  left: 648px;
}
.div348,
.div351,
.div355,
.div358,
.div362,
.div365 {
  top: 1271px;
  left: 988px;
}
.div351,
.div355,
.div358,
.div362,
.div365 {
  left: 1340px;
}
.div355,
.div358,
.div362,
.div365 {
  top: 1862px;
  left: 296px;
}
.div358,
.div362,
.div365 {
  left: 648px;
}
.div362,
.div365 {
  top: 1860px;
  left: 988px;
}
.div365 {
  left: 1340px;
}
.users-icon2 {
  position: relative;
  width: 26px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.ch-btn2,
.m-btn2,
.r-btn2 {
  position: absolute;
  top: 475px;
  right: 1032px;
  border-radius: var(--br-31xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 87px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.ch-btn2,
.r-btn2 {
  right: 917px;
  background-color: var(--color-skyblue);
}
.ch-btn2 {
  right: 777px;
  background-color: var(--white);
  width: 112px;
}
.svgoutlinechevron-double-lef-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.control8 {
  border-radius: var(--br-5xs);
  background-color: var(--neutral-surface-bgcontainer);
  border: 1px solid var(--neutral-border-disabled);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.div372 {
  position: relative;
}
.page12 {
  background-color: var(--map-primary-surface-default);
  color: var(--base-content-negative);
}
.page12,
.page13 {
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.pagination2 {
  position: absolute;
  top: 2453px;
  left: 766px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--base-content-body);
  font-family: var(--small-regular);
}
.menu-icon26,
.vector-icon26 {
  position: absolute;
  overflow: hidden;
}
.vector-icon26 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon14,
.logo16,
.with-us29 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us29 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon14,
.logo16 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon14 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent11,
.logo12313 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo12313 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div377,
.div378,
.navlogo13 {
  position: relative;
  flex-shrink: 0;
}
.navlogo13 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div377,
.div378 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div378 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon27 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div379 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent39 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div380 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon13 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent40 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent15 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div381 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div382,
.name13 {
  position: absolute;
  left: 0;
}
.name13 {
  top: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div382 {
  top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.logout13 {
  position: absolute;
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent11 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account13 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.account13,
.actions13,
.nav13,
.navactions13 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions13 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.nav13,
.navactions13 {
  justify-content: center;
}
.navactions13 {
  flex: 1;
  height: 48px;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.nav13 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.review-item {
  position: absolute;
  top: 2233px;
  left: 1694px;
  width: 141px;
  height: 142px;
}
.review {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 2519px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--color-dimgray-100);
  font-family: var(--font-source-code-pro);
}
@media screen and (max-width: 1200px) {
  .menu-icon26 {
    display: flex;
  }
  .menu-icon27 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon26 {
    display: flex;
  }
  .menu-icon27 {
    display: none;
  }
  .group-parent15 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon26,
  .menu-icon27 {
    display: flex;
    width: 200px;
  }
  .actions13 {
    display: none;
  }
}
.mask-group-icon {
  position: absolute;
  top: 89px;
  left: 37px;
  width: 154px;
  height: 229px;
}
.div192,
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  position: absolute;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.div192 {
  top: 23px;
  left: 177px;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-300);
}
.div193,
.div194,
.div195,
.djgdk1516gmailcom {
  left: 201px;
  display: inline-block;
  height: 17px;
}
.div193 {
  top: 181px;
  color: var(--color-darkslategray-300);
  width: 83px;
}
.div194,
.div195,
.djgdk1516gmailcom {
  top: 209px;
  width: 48px;
}
.div195,
.djgdk1516gmailcom {
  top: 155px;
}
.djgdk1516gmailcom {
  top: 232px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div196 {
  top: 104px;
  width: 48px;
}
.div196,
.div197,
.mbti,
.tbti {
  position: absolute;
  left: 201px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  height: 17px;
}
.div197 {
  top: 127px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.mbti,
.tbti {
  top: 260px;
  width: 48px;
}
.tbti {
  top: 283px;
  color: var(--color-darkslategray-200);
  width: 170px;
}
.div198,
.div199 {
  position: absolute;
  top: 337px;
  left: 105px;
  font-size: var(--font-size-2xl);
  line-height: 130%;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div199 {
  left: 256px;
}
.btn2 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightskyblue);
  box-shadow: 0 2px 16px rgba(80, 137, 196, 0.48);
  width: 120px;
  height: 41px;
}
.btn2,
.e-btn,
.edit8 {
  position: absolute;
}
.edit8 {
  top: 11px;
  left: 26px;
  letter-spacing: 0.59px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 76px;
  height: 18px;
}
.e-btn {
  top: 383px;
  left: 171px;
  width: 120px;
  height: 41px;
  text-align: center;
  color: var(--white);
  font-family: var(--text-sm-bold);
}
.p-img-icon {
  position: absolute;
  top: 95px;
  left: 21px;
  border-radius: var(--br-16xl);
  width: 167px;
  height: 228px;
  overflow: hidden;
  object-fit: cover;
}
.m-p-con {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 461px;
  height: 454px;
  overflow: hidden;
  flex-shrink: 0;
}
.myprofil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
  font-family: var(--font-montserrat);
}
