.edit-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div389 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.edit-group {
  position: absolute;
  top: 611px;
  left: 1533px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dodgerblue-100);
  width: 112px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-montserrat);
}
.review-child {
  position: absolute;
  top: 128px;
  left: 0;
  width: 1920px;
  height: 277px;
  object-fit: cover;
}
.image-icon16 {
  position: relative;
  width: 292px;
  height: 262px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div391 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  width: 244px;
}
.p16 {
  margin: 0;
}
.div392,
.with-us-container12 {
  position: relative;
  display: flex;
  align-items: center;
  width: 244px;
}
.div392 {
  text-align: right;
}
.content20,
.div390 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content20 {
  background-color: var(--white);
  height: 227px;
  flex-shrink: 0;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.div390 {
  position: absolute;
  top: 690px;
  left: 274px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.image-icon17 {
  position: relative;
  width: 292px;
  height: 263px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div394 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  width: 238px;
}
.txt {
  width: 100%;
}
.content21,
.div393,
.div397,
.div400,
.div404,
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content21 {
  background-color: var(--white);
  height: 228px;
  flex-shrink: 0;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.div393,
.div397,
.div400,
.div404,
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  position: absolute;
  top: 690px;
  left: 638px;
  border-radius: var(--br-xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div397,
.div400,
.div404,
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  top: 688px;
  left: 991px;
}
.div400,
.div404,
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  left: 1355px;
}
.div404,
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  top: 1273px;
  left: 272px;
}
.div407,
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  left: 636px;
}
.div411,
.div414,
.div418,
.div421,
.div425,
.div428 {
  top: 1271px;
  left: 989px;
}
.div414,
.div418,
.div421,
.div425,
.div428 {
  left: 1353px;
}
.div418,
.div421,
.div425,
.div428 {
  top: 1862px;
  left: 272px;
}
.div421,
.div425,
.div428 {
  left: 636px;
}
.div425,
.div428 {
  top: 1860px;
  left: 989px;
}
.div428 {
  left: 1353px;
}
.users-icon3 {
  position: relative;
  width: 26px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.camera-container,
.map-pin-parent4,
.users-container {
  position: absolute;
  top: 475px;
  left: 801px;
  border-radius: var(--br-31xl);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 87px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.camera-container,
.map-pin-parent4 {
  left: 916px;
  background-color: var(--color-skyblue);
}
.map-pin-parent4 {
  left: 1031px;
  background-color: var(--white);
  width: 112px;
}
.svgoutlinechevron-double-lef-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.control8 {
  border-radius: var(--br-5xs);
  background-color: var(--neutral-surface-bgcontainer);
  border: 1px solid var(--neutral-border-disabled);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.div435 {
  position: relative;
}
.page12 {
  background-color: var(--map-primary-surface-default);
  color: var(--base-content-negative);
}
.page12,
.page13 {
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.pagination2 {
  position: absolute;
  top: 2543px;
  left: 784px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--base-content-body);
  font-family: var(--small-regular);
}
.menu-icon28,
.vector-icon28 {
  position: absolute;
  overflow: hidden;
}
.vector-icon28 {
  height: 58.29%;
  width: 83.33%;
  top: 20.85%;
  right: 8.22%;
  bottom: 20.85%;
  left: 8.44%;
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.menu-icon28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 71.74%;
  top: 8.93%;
  right: 22px;
  bottom: 19.34%;
  width: 45px;
}
.image-8-icon15,
.logo17,
.with-us30 {
  position: absolute;
  width: 134.4px;
  height: 33.7px;
}
.with-us30 {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  display: inline-block;
  font-weight: 700;
}
.image-8-icon15,
.logo17 {
  top: 56.5px;
  left: 124.6px;
}
.image-8-icon15 {
  top: 0;
  left: 0;
  width: 191.5px;
  height: 113px;
  object-fit: cover;
}
.logo-parent12,
.logo12314 {
  position: absolute;
  top: 11px;
  left: 0;
  width: 259px;
  height: 113px;
}
.logo12314 {
  top: 0;
  left: 32px;
  width: 257px;
  height: 121px;
}
.div440,
.div441,
.navlogo14 {
  position: relative;
  flex-shrink: 0;
}
.navlogo14 {
  width: 347px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-14xl);
}
.div440,
.div441 {
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 20px;
}
.div441 {
  color: var(--color-gray-400);
  width: 73px;
}
.vector-icon29 {
  position: absolute;
  height: 58.21%;
  width: 83.33%;
  top: 20.9%;
  right: 8.22%;
  bottom: 20.9%;
  left: 8.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 40.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div442 {
  position: absolute;
  top: 1px;
  left: 35px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 57px;
}
.account-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent52 {
  position: relative;
  width: 92px;
  height: 25px;
}
.div443 {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.calendar-check-02-icon14 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent53 {
  position: relative;
  width: 75px;
  height: 25px;
}
.group-parent16 {
  width: 237px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}
.div444 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.div445,
.name14 {
  position: absolute;
  left: 0;
}
.name14 {
  top: 0;
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div445 {
  top: 10px;
  line-height: 20px;
  font-weight: 600;
}
.logout14 {
  position: absolute;
  top: 0;
  left: 91px;
  border-radius: var(--br-9xs);
  width: 72px;
  height: 40px;
  overflow: hidden;
}
.name-parent12 {
  position: relative;
  width: 163px;
  height: 40px;
}
.account14,
.actions14,
.navactions14 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.account14 {
  border-radius: var(--br-5xs);
  width: 240px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.actions14,
.navactions14 {
  flex: 1;
}
.actions14 {
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-regular);
}
.navactions14 {
  height: 48px;
  justify-content: center;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.nav14,
.review {
  background-color: var(--white);
  width: 100%;
  text-align: left;
}
.nav14 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue-100);
  font-family: var(--font-montserrat);
}
.review {
  position: relative;
  height: 2616px;
  overflow: hidden;
  font-size: var(--body-regular-size);
  color: var(--color-dimgray-100);
  font-family: var(--font-source-code-pro);
}
@media screen and (max-width: 1200px) {
  .menu-icon28 {
    display: flex;
  }
  .menu-icon29 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon28 {
    display: flex;
  }
  .menu-icon29 {
    display: none;
  }
  .group-parent16 {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .menu-icon28,
  .menu-icon29 {
    display: flex;
    width: 200px;
  }
  .actions14 {
    display: none;
  }
}
