@charset "UTF-8";
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* header {
  width: 100%;
  height: 120px;
  display: flex;
}
#logo {
  width: 20%;
  height: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}
#logo img {
  height: 100%;
}
nav {
  width: 60%;
  height: 100%;
}
#menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu li {
  font-size: 18px;
  width: 100px;
  height: 30px;
  text-align: center;
}
#r_nav {
  font-size: 14px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#r_nav i {
  font-size: 18px;
}
#r_nav li {
  width: 55px;
  height: 20px;
}
#r_nav li a:hover {
  color: #0b5ed7;
}
#mainImg {
  width: 100%;
  height: 250px;
  background-image: url('./img/mainImg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#contain {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
  box-shadow: 2px 2px 2px 2px;
  background-color: aliceblue;
}
#chat{
  display: block;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 3;
  background-color: #fff;
  border-radius: 100%;
  box-shadow:0 4px 4px rgba(0, 0, 0, 0.25) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chat:hover{
  background-color: #e8e8e8;
}
#chat img{
  width: 70%;
} */
footer {
  width: 100%;
  height: 80px;
  background: #c6ddff;
}


/* 모집 글쓰기 */
#d_title{

  font-size: 45px;
  position: relative;
  top: 15px;

}

#calendar{
  position: relative;
 
 
  width: 100%;
  
}

.row{
  width:170%;
}

.list-group{
  position: relative;
  bottom: 235px;
  left: 275px;
}

.modal-body{
	
	position: relative;
	left:70px;
	
}



@media screen and (max-width: 1200px){

  #calendar{
    position: relative;
    top: 35px;
    left: 45px;
    width: 45%;
    
  }

  .list-group{
    position: relative;
    top: 55px;
    left: 35px;
  }
  


}