@charset "UTF-8";
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}
div{
  font-size: inherit;
}
#title{
  width: 100%;
  padding:40px 0;
  font-size: 40px;
  text-align: center;
}
#contain{
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#revBox{
  width: 70%;
  box-sizing: border-box;
  padding: 20px 15px;
  border: 1px solid #ddd;
  border-radius:10px;
}
#revTitle{
  width: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}
#revTitle > p{
  font-size: 30px;
  margin-bottom: 30px;
}
#revInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#userImg{
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: url("../../images/user.png");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
#revContent{
  width: 100%;
  padding: 20px 15px;
  margin-top: 30px;
}
#revPhoto{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#revPhoto img{
  max-width: 90%;
  margin:0 auto;
}
#revTxt{
  width: 100%;
  line-height: 200%;
  margin : 30px 0;
}
#travelInfo{
  width: 100%;
  color:#555;
  line-height: 180%;
}
#travelInfo span{
  margin-right: 3px;
}
#userAction{
  width: 100%;
  padding: 20px 15px;
  display: flex;
  font-size: 16px;
}
#like{
  margin-right: 30px;
  cursor:pointer;
}
#comment{
  cursor:pointer;
 }
.showComment{
  width: 100%;
}
.showComment textarea{
  width: 90%;
}
.showComment button{
  width: 10%;
  border:none;
}
.showComment button:active{
  background-color: #555;
  color:#fff;
}
.showComment form{
  display: flex;
}
.commentList{
  width: 100%;
  padding: 20px 15px;
}
.commentList li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
 }
.commentImg{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: url("../../images/user.png");
  margin-right: 10px;
}
.commentLeft{
  display: flex;
}
.commentContent{
  height:100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
}
.commentContent p:first-child{
  font-weight: bold;
}
.commentDate{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size:12px;
}








