html,
body {
    font-family: 'Noto Sans KR', sans-serif;
  font-size: inherit;
}
li{
  list-style: none;
}
#mainImg {
    width: 100%;
    height: 200px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
}
#contain {
    width: 80%;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contain > form {
    width: 30%;
    margin-bottom: 30px;
}

#contain > form label {
    margin: 20px 0;
    font-size: 18px;
}

#contain > form .form-control {
    height: 50px;
}

#radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

#radio input {
    margin: 0 15px;
}

.warn {
    margin-top: 15px;
    font-size: 13px;
    width: 100%;
    letter-spacing: 1px;
    color: red;
}

footer {
    width: 100%;
    height: 80px;
    background: #c6ddff;
}

.checkBtn{
    margin-top: 15px;
}
#submit{
    margin-top: 30px;
    margin-left: 380px;
}