@charset "UTF-8";
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
}

#mainImg {
  width: 100%;
  height: 250px;
  background-image: url('../../images/mainImg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#contain {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 80px;
}
#buttons {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
#writeBtn {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.reviewCard {
  width: 18%;
  height: 500px;
  margin: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.reviewCard a:hover {
  color: inherit;
}
.reviewCard .imgBox {
  width: 100%;
  height: 50%;
  background-image: url('../../images/cardImg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.reviewCard .textBox {
  box-sizing: border-box;
  padding: 30px;
}
.reviewCard .textBox .title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
.reviewCard .textBox .text {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 15px;
}
.reviewCard .textBox .date {
  font-size: 12px;
}

footer {
  width: 100%;
  height: 80px;
  background: #c6ddff;
}